@model InventoryControlTRDWeb.Areas.Client.Models.ProductViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}

<h4>Cadastrar Produto</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Produto</label>
                        <input asp-for="Name" class="form-control form-control-sm" maxlength="50" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Preço de Custo (R$)</label>
                        <input asp-for="CostPrice" class="form-control form-control-sm" value="@(Model?.CostPrice ?? "0,00" )" />
                        <span asp-validation-for="CostPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Preço de Venda (R$)</label>
                        <input asp-for="SalePrice" class="form-control form-control-sm" value="@(Model?.SalePrice ?? "0,00")" />
                        <span asp-validation-for="SalePrice"  class="text-danger"></span>
                    </div>
                </div>
            </div>

          
            <div class="form-group">
                <label class="control-label">Unidade de Medida</label>
                <select asp-for="Type" class="form-control form-control-sm">
                    <option value="1">UN</option>
                    <option value="2">PCT</option>
                    <option value="3">PESO</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> Ativo
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Composite" /> Produto Composto
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary btn-sm" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="List" asp-controller="Product">Voltar</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(() => {
        $('#CostPrice').mask("#.##0,00", { reverse: true })
        $('#SalePrice').mask("#.##0,00", { reverse: true })
    });
</script>