@model InventoryControlTRDWeb.Areas.Client.Models.InventoryListViewModel
@{ 
    Layout = "_Layout";
}

<div>
    <h4>Estoque</h4>
    <hr />
    @Html.ActionLink("Novo Lançamento","Add","Inventory",null,new { @class = "btn btn-success btn-sm",@style="margin-bottom:1em" })

    <table class="table table-responsive-sm ">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subProduct in Model.InventoryList)
            {
            <tr>
                <td>@subProduct.Product.Name</td>
                <td>@subProduct.Amount</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    
    <a asp-action="List" asp-controller="Product">Voltar</a>
</div> 